<a href="https://colab.research.google.com/github/mayurandhare13/DS_Intro_2/blob/master/Classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Classification!

In [0]:
import pandas as pd
import seaborn as sns
from sklearn.model_selection import train_test_split
train, test = train_test_split(sns.load_dataset('titanic').drop(columns=['alive']), random_state=0)

In [2]:
train.head(10)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alone
105,0,3,male,28.0,0,0,7.8958,S,Third,man,True,NaN,Southampton,True
68,1,3,female,17.0,4,2,7.9250,S,Third,woman,False,NaN,Southampton,False
253,0,3,male,30.0,1,0,16.1000,S,Third,man,True,NaN,Southampton,False
320,0,3,male,22.0,0,0,7.2500,S,Third,man,True,NaN,Southampton,True
706,1,2,female,45.0,0,0,13.5000,S,Second,woman,False,NaN,Southampton,True
271,1,3,male,25.0,0,0,0.0000,S,Third,man,True,NaN,Southampton,True
424,0,3,male,18.0,1,1,20.2125,S,Third,man,True,NaN,Southampton,False
752,0,3,male,33.0,0,0,9.5000,S,Third,man,True,NaN,Southampton,True
615,1,2,female,24.0,1,2,65.0000,S,Second,woman,False,NaN,Southampton,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,True

# Feature Preprocessing

In [9]:
train['survived'].value_counts(normalize=True)

0    0.613772
1    0.386228
Name: survived, dtype: float64

In [10]:
train.isna().sum()

survived         0
pclass           0
sex              0
age            133
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           512
embark_town      2
alone            0
dtype: int64

In [16]:
train.describe()

         survived      pclass         age       sibsp       parch        fare
count  668.000000  668.000000  535.000000  668.000000  668.000000  668.000000
mean     0.386228    2.305389   29.900000    0.534431    0.392216   32.373621
std      0.487249    0.837377   14.487993    1.161739    0.822509   50.632021
min      0.000000    1.000000    0.670000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   21.000000    0.000000    0.000000    7.925000
50%      0.000000    3.000000   29.000000    0.000000    0.000000   14.500000
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.275000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [25]:
train[['sex', 'age']].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 668 entries, 105 to 684
Data columns (total 2 columns):
sex    668 non-null object
age    535 non-null float64
dtypes: float64(1), object(1)
memory usage: 35.7+ KB

## impute Age

In [17]:
train['age'].mode()

0    24.0
dtype: float64

In [37]:
train.age.fillna(train.age.mode(), inplace=True)
train.age.isnull().sum()

0

In [45]:
test.age.fillna(train.age.mode(), inplace=True)
test.age.isnull().sum()

0

## Impute Sex

In [0]:
train['female'] = (train['sex'] == 'female').astype(int)

In [0]:
test['female'] = (test['sex'] == 'female').astype(int)

## Model

In [0]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [0]:
features = ['female', 'age']
target = 'survived'

In [0]:
# to calculate accuracy on train and test data

def calc_acc(model, train, test, features, target):
  # Train accuracy
  y_true = train[target]
  y_pred = model.predict(train[features])
  print('Train accuracy:', accuracy_score(y_true, y_pred)*100)

  # Test accuracy
  y_true = test[target]
  y_pred = model.predict(test[features])
  print('Test accuracy:', accuracy_score(y_true, y_pred)*100)

# Logistic Regression

In [59]:
model_1 = LogisticRegression()
model_1.fit(train[features], train[target])

calc_acc(model_1, train, test, features, target)

Train accuracy: 78.89221556886228
Test accuracy: 78.02690582959642

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

# Decision Tree Classifier

In [60]:
model_2 = DecisionTreeClassifier(max_depth=2)
model_2.fit(train[features], train[target])

calc_acc(model_2, train, test, features, target)

Train accuracy: 79.49101796407186
Test accuracy: 77.57847533632287

# Random Forest Classifier

In [65]:
model_3 = RandomForestClassifier(max_depth=2, criterion='entropy', n_estimators=100)
model_3.fit(train[features], train[target])

calc_acc(model_3, train, test, features, target)

Train accuracy: 79.49101796407186
Test accuracy: 79.37219730941703