<a href="https://colab.research.google.com/github/mayurandhare13/DS_Intro_2/blob/master/More_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



### 1. Experiment with Nearest Neighbor parameter

Using the same 10 training data points from the lesson, train a `KNeighborsRegressor` model with `n_neighbors=1`.

Use both `carat` and `cut` features.

Calculate the mean absolute error on the training data and on the test data.

In [0]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_absolute_error

columns = ['carat', 'cut', 'price']

train = pd.DataFrame(columns=columns, 
        data=[[0.3, 'Ideal', 422],
        [0.31, 'Ideal', 489],
        [0.42, 'Premium', 737],
        [0.5, 'Ideal', 1415],
        [0.51, 'Premium', 1177],
        [0.7, 'Fair', 1865],
        [0.73, 'Fair', 2351],
        [1.01, 'Good', 3768],
        [1.18, 'Very Good', 3965],
        [1.18, 'Ideal', 4838]])

test  = pd.DataFrame(columns=columns, 
        data=[[0.3, 'Ideal', 432],
        [0.34, 'Ideal', 687],
        [0.37, 'Premium', 1124],
        [0.4, 'Good', 720],
        [0.51, 'Ideal', 1397],
        [0.51, 'Very Good', 1284],
        [0.59, 'Ideal', 1437],
        [0.7, 'Ideal', 3419],
        [0.9, 'Premium', 3484],
        [0.9, 'Fair', 2964]])

cut_ranks = {'Fair': 1, 'Good': 2, 'Very Good': 3, 'Premium': 4, 'Ideal': 5}
train.cut = train.cut.map(cut_ranks)
test.cut = test.cut.map(cut_ranks)

In [0]:
def check_errors(classifier, train, test, features, target):
  y_train = classifier.predict(train[features])
  train_error = mean_absolute_error(train[target], y_train)
  print(train_error)

  y_test = classifier.predict(test[features])
  test_error = mean_absolute_error(test[target], y_test)
  print(test_error)

In [38]:
features = ['carat']
target = 'price'

model_1 = KNeighborsRegressor(n_neighbors=2)
model_1.fit(train[features], train[target])

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
          metric_params=None, n_jobs=None, n_neighbors=2, p=2,
          weights='uniform')

In [39]:
check_errors(model_1, train, test, features, target)

210.15
295.8

In [41]:
features = ['carat', 'cut']
target = 'price'

model_2 = KNeighborsRegressor(n_neighbors=1)
model_2.fit(train[features], train[target])

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
          metric_params=None, n_jobs=None, n_neighbors=1, p=2,
          weights='uniform')

In [42]:
check_errors(model_2, train, test, features, target)

0.0
1128.8

How does the train error and test error compare to the previous `KNeighborsRegressor` model from the lesson? (The previous model used `n_neighbors=2` and only the `carat` feature.)

Is this new model overfitting or underfitting? Why do you think this is happening here?

=> in model 2 with 2 features and n_neighbors=1, model is overfitting which gives 0 training error and very high testing error. But on the other hand, model 1 is tries to justify test data giving much lower errors.

### 2. More data, two features, linear regression

Use the following code to load data for diamonds under $5,000, and split the data into train and test sets. The training data has almost 30,000 rows, and the test data has almost 10,000 rows.

In [65]:
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

df_diamond = sns.load_dataset('diamonds')
print("Original Data:- ", df_diamond.shape)

df_diamond = df_diamond[df_diamond.price < 5000]
train_2, test_2 = train_test_split(df_diamond.copy(), random_state=0, test_size = 0.25)
train_2.shape, test_2.shape

Original Data:-  (53940, 10)

((29409, 10), (9804, 10))

Then, train a Linear Regression model with the `carat` and `cut` features. Calculate the mean absolute error on the training data and on the test data.

In [66]:
train_2.head(10)

       carat        cut color clarity  depth  table  price     x     y     z
43601   0.31  Very Good     E     SI1   61.2   58.0    507  4.34  4.38  2.67
52706   0.74       Fair     H     VS2   66.1   61.0   2553  5.60  5.57  3.69
1986    0.81  Very Good     G     SI1   62.3   59.0   3095  5.93  5.98  3.71
48617   0.70       Fair     G     SI2   61.5   66.0   1999  5.55  5.60  3.43
10947   0.87      Ideal     G     VS2   61.8   56.0   4899  6.11  6.13  3.78
44833   0.51       Good     E     SI1   64.3   55.0   1624  5.12  5.05  3.27
13047   0.38  Very Good     I     SI1   59.7   62.0    601  4.70  4.74  2.82
2737    0.71      Ideal     E     VS2   62.5   55.0   3247  5.67  5.73  3.56
2052    0.32    Premium     G     VS2   62.0   58.0    561  4.33  4.38  2.70
22365   0.31      Ideal     H     VS2   62.1   55.0    628  4.35  4.32  2.69

In [0]:
cut_ranks = {'Fair': 1, 'Good': 2, 'Very Good': 3, 'Premium': 4, 'Ideal': 5}
train_2.cut = train_2.cut.map(cut_ranks)
test_2.cut = test_2.cut.map(cut_ranks)

In [68]:
train_2.head(10)

       carat  cut color clarity  depth  table  price     x     y     z
43601   0.31    3     E     SI1   61.2   58.0    507  4.34  4.38  2.67
52706   0.74    1     H     VS2   66.1   61.0   2553  5.60  5.57  3.69
1986    0.81    3     G     SI1   62.3   59.0   3095  5.93  5.98  3.71
48617   0.70    1     G     SI2   61.5   66.0   1999  5.55  5.60  3.43
10947   0.87    5     G     VS2   61.8   56.0   4899  6.11  6.13  3.78
44833   0.51    2     E     SI1   64.3   55.0   1624  5.12  5.05  3.27
13047   0.38    3     I     SI1   59.7   62.0    601  4.70  4.74  2.82
2737    0.71    5     E     VS2   62.5   55.0   3247  5.67  5.73  3.56
2052    0.32    4     G     VS2   62.0   58.0    561  4.33  4.38  2.70
22365   0.31    5     H     VS2   62.1   55.0    628  4.35  4.32  2.69

In [69]:
from sklearn.linear_model import LinearRegression

features = ['carat', 'cut']
target = 'price'

model_3 = LinearRegression()
model_3.fit(train_2[features], train_2[target])

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

=> Mean Absolute Error

In [70]:
check_errors(model_3, train_2, test_2, features, target)

309.46586653861294
309.5202765379711

Use this model to predict the price of a half carat diamond with "very good" cut

In [71]:
model_3.predict([[0.5, 3]])

array([1489.45526366])

### 3. More data, more features, any model

You choose what features and model type to use! Try to get a better mean absolute error on the test set than your model from the last question.

Refer to [this documentation](https://ggplot2.tidyverse.org/reference/diamonds.html) for more explanation of the features.

Besides `cut`, there are two more ordinal features, which you'd need to encode as numbers if you want to use in your model:

In [72]:
train_2.describe(include=['object'])

        color clarity
count   29409   29409
unique      7       8
top         E     SI1
freq     6090    6948

In [73]:
clarity_rank = {"IF":0,"VVS1":1, "VVS2":2,"VS1":3, "VS2":4,"SI1":5, "SI2":6, "I1":7}
train_2.clarity = train_2.clarity.map(clarity_rank)  
test_2.clarity = test_2.clarity.map(clarity_rank) 

color_rank = {"J":7, "I":6, "H":5, "G":4, "F":3, "E":2, "D":1 }
train_2.color = train_2.color.map(color_rank)
test_2.color = test_2.color.map(color_rank)

244.8239755325928
246.21396940111154

In [85]:
features = ['color','clarity', 'cut', 'carat']
target = ['price']

model_4 = LinearRegression()
model_4.fit(train_2[features],train_2[target])
check_errors(model_4, train_2, test_2, features, target)

244.8239755325928
246.21396940111154

In [86]:
model_4.coef_, model_4.intercept_

(array([[-112.47381195, -161.90279604,   51.28925478, 5529.14717977]]),
 array([-447.29671118]))

In [75]:
train_2.describe()

,carat,cut,color,clarity,depth,table,price,x,y,z
count,29409.000000,29409.000000,29409.000000,29409.000000,29409.000000,29409.000000,29409.000000,29409.000000,29409.000000,29409.000000
mean,0.572621,3.921385,3.411643,3.852698,61.764184,57.334574,1912.448842,5.212862,5.218321,3.221193
std,0.259543,1.135751,1.666277,1.705320,1.424072,2.269379,1326.834107,0.771722,0.779769,0.510568
min,0.200000,1.000000,1.000000,0.000000,43.000000,43.000000,326.000000,0.000000,3.680000,0.000000
25%,0.340000,3.000000,2.000000,3.000000,61.100000,56.000000,802.000000,4.490000,4.500000,2.770000
50%,0.510000,4.000000,3.000000,4.000000,61.800000,57.000000,1412.000000,5.140000,5.140000,3.180000
75%,0.730000,5.000000,5.000000,5.000000,62.500000,59.000000,2825.000000,5.800000,5.810000,3.590000
max,1.740000,5.000000,7.000000,7.000000,79.000000,79.000000,4999.000000,7.620000,31.800000,31.800000